/*! purgecss start ignore */

// Default colors
body {
	--text-color: #333;
	--bg-color: #eee;
}
// dark
body.dark-theme {
	--text-color: #eee;
	--bg-color: #282a36;
}
// Styles for users who prefer light mode at the OS level
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
		--bg-color: #282a36;
  }
  /* Override light mode with dark mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #333;
		--bg-color: #eee;
  }
}

/*! purgecss end ignore */